.info-background{
    background-color: #264653 ;
    color:  #FFFFFF;
}
.info-warning{
    background-color: #E76F51 ;
    width: 168px;
    height: 44px;
}
.banner{
    color: black;
}
.banner-2{
    color: black;
    font-weight: 700;
}
.sp-color{
    color: #E76F51 ;
}
.bonus-part{
    
    max-width: 800px;
    height: 500px;
    margin: auto;
    top: 50%;
    left: 50%;
    
}
.myRightCtn{
    
    background-image: linear-gradient(45deg, #f046ff, #9b00e8);
    border-radius: 25px;
    height: 100%;
    padding: 25px;
    color:rgb 192, 192, 192;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.myLeftCtn{
   
    background: #FFFFFF;
    border-radius: 25px;
    height: 100%;
    padding: 25px;
    padding-left: 50px;
}
.myLeftCtn header{
       color: blueviolet;
       font-size: 24px;
       font-weight: 700;
       margin-bottom: 20px;
}
.row{
    height: 100%;
}
.myCard{
    
    background: #FFFFFF;
    height: 100%;
    border-radius: 25px;
    -webkit-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
     box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);

}
.myRightCtn header{
    color: #FFFFFF;
    font-size: 44px;
}
.box{
   position: relative;
   margin: 20px;
   margin-bottom: 100px; 
}
.myLeftCtn .myInput{
    width: 230px;
    border-radius: 25px;
    padding: 10px;
    padding-left: 50px;
    border: none;
    -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
     box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);

}
.myLeftCtn .myInput:focus{
    outline: none;
}
.myform{
    position: relative;
    margin-top: 50px;
}
.myLeftCtn .butt{
    background: linear-gradient(45deg, #bb36fd, #9b00e8 );
    color: #FFFFFF;
    width: 230px;
    border: none;
    border-radius: 25px;
    padding: 20px;
    -webkit-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
     box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);

}
.myLeftCtn .butt:hover{
    background: linear-gradient(45deg, #c85bff, #b726ff);
}

